<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Football Match Prediction</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">

</head>

<body>

  {% if pred == 1 %}
  <div class="pred-msg" id="pred" onclick="off()"> 
    <div class="team-logo">
      <img id="team_home" src={{ image_home_path }} alt="HomeTeam" width="300" height="300">
      <p>VS</p>
      <img id="team_away" src={{ image_away_path }} alt="AwayTeam" width="300" height="300">
    </div>
    <div id="text">
      <p class="team">{{ home_team }}</p> will most likely win!!
    </div>
  </div>
  {% endif %}
  {% if pred == 2 %}
  <div class="pred-msg" id="pred" onclick="off()"> 
    <div class="team-logo">
      <img id="team_home" src={{ image_home_path }} alt="HomeTeam" width="300" height="300">
      <p>VS</p>
      <img id="team_away" src={{ image_away_path }} alt="AwayTeam" width="300" height="300">
    </div>
    <div id="text">
      <p class="team">{{ away_team }}</p> will most likely win!!
    </div>
  </div>
  {% endif %}
  {% if pred == 0 %}
  <div class="pred-msg" id="pred" onclick="off()"> 
    <div class="team-logo">
      <img id="team_home" src={{ image_home_path }} alt="HomeTeam" width="300" height="300">
      <p>VS</p>
      <img id="team_away" src={{ image_away_path }} alt="AwayTeam" width="300" height="300">
    </div>
    <div id="text">
      Most likely <p class="team">{{ home_team }}</p> and <p class="team">{{ away_team }}</p> will darw!
    </div>
  </div>
  {% endif %}

  <div class="data">
    
    <h1>Football Match Prediction</h1>


    {% if error %}
      <div class="error-msg">{{ error }}</div><br><br>
    {% endif %}

    <!-- Form to enter new data for predictions  -->
    <form action="{{ url_for('predict')}}"method="POST" onsubmit="return validateForm()">
      <label for="match_date">Enter date of the match:</label>
      <input type="date" id="match_date" name="match_date" placeholder="20/02/2020" required="required" value="{{ match_date }}" /><br><br>
      <label for="home_team">Enter the name of the home team:</label>
      <input type="text" id="home_team" name="home_team" placeholder="Roma" required="required" value="{{ home_team }}" /><br><br>
      <label for="away_team">Enter the name of the away team:</label>
      <input type="text" id="away_team" name="away_team" placeholder="Lazio" required="required" value="{{ away_team }}"/><br><br><br>

      <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>
    
    <br>

  </div>
  
  <script>
    function off() {
      document.getElementById("pred").style.display = "none";
    }

    
  </script>

</body>

</html>